<!DOCTYPE html>
<html>
	<head>
		<title>
			LAYOUT DANIA 2 SISI CETAK 15X-2
		</title>
		<link rel="stylesheet" type="text/css" href="general.css">
		<link rel="stylesheet" type="text/css" href="style1.css">
		<style>
			.main{
				padding-top: 36px;
			}
			.big{
				box-sizing: border-box;
				display: block;
				border-top: 30px solid #416541;
				border-bottom: 30px solid #416541;
				width: 100%;
				height: 960px;
			}
			.small-div{
				text-align: center;
				margin-top: 8px;
				margin-bottom: 8px;
			}
			.small{
				box-sizing: border-box;
				display: inline-block;
				border: 30px solid #416541;
				margin: 36px 28px 36px 28px;
				width: 48%;
				height: 670px;
			}
		</style>
	</head>
	<body>
		<div class="my-body">
			<div class="header">
				<div class="top-right-box">&nbsp;</div>
				<div class="date">
					Keberangkatan 28 Februari - 16 Maret 2019
				</div>
				<hr class="header-line">
			</div>
			<div class="main">
				<img class="big" src="../img/41.jpg">
				<div class="small-div">
					<img class="small" src="../img/02.jpg">
					<img class="small" src="../img/06.jpg">
				</div>
			</div>
			<div class="footer">
				<div class="footer-left">
					<div class="footer-left-left">
						<div class="footer-left-box">&nbsp;</div>
						<div class="footer-left-box footer-left-box2">&nbsp;</div>
						<div class="footer-left-text">
							M A N A S I K
						</div>
						<div class="footer-left-right footer-left-right3">&nbsp;</div>
						<div class="footer-left-right footer-left-right2" >&nbsp;</div>
						<div class="footer-left-right">&nbsp;</div>
					</div>
				</div>
				<div class="footer-right">
					<hr class="footer-line">
					<div class="footer-right-text">
						Menuju Kesempurnaan Ibadah
					</div>
				</div>
				<div class="page-number"><span class="page-number-text">02</span></div>
			</div>
		</div>
		
		<div class="my-body">
			<div class="header">
				<div class="top-right-box">&nbsp;</div>
				<div class="date">
					Keberangkatan 28 Februari - 16 Maret 2019
				</div>
				<hr class="header-line">
			</div>
			<div class="main">
				<img class="big" src="../img/41.jpg">
				<div class="small-div">
					<img class="small" src="../img/02.jpg">
					<img class="small" src="../img/06.jpg">
				</div>
			</div>
			<div class="footer">
				<div class="footer-left">
					<div class="footer-left-left">
						<div class="footer-left-box">&nbsp;</div>
						<div class="footer-left-box footer-left-box2">&nbsp;</div>
						<div class="footer-left-text">
							M A N A S I K
						</div>
						<div class="footer-left-right footer-left-right3">&nbsp;</div>
						<div class="footer-left-right footer-left-right2" >&nbsp;</div>
						<div class="footer-left-right">&nbsp;</div>
					</div>
				</div>
				<div class="footer-right">
					<hr class="footer-line">
					<div class="footer-right-text">
						Menuju Kesempurnaan Ibadah
					</div>
				</div>
				<div class="page-number"><span class="page-number-text">02</span></div>
			</div>
		</div>
	</body>
</html>